@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1rem;
  width: min(1024px, 100%);
}

.card {
  background: $primary;
  padding: 2rem;
  border-radius: 1rem;

  @include size {
    background: black;
    box-shadow: 0 .5rem 3rem rgba(black, .5);
  }

  h1 {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
  }
}
